/******************************
 * Menu
 *****************************/
#home md-icon
{
  margin-right: 14px;
}

md-sidenav > md-list > md-list-item > a.md-button{
  margin: 0;
}

/******************************
 * Icon
 *****************************/

md-icon.size-16{
  height: 16px;
  width: 16px;
}
md-icon.size-36{
  height: 36px;
  width: 36px;
}
md-icon.size-48{
  height: 48px;
  width: 48px;
}